.lyTop {
    display: flex;
    flex-direction: column;
    align-items: center;  


    height: 150px;
    
    background-color: #ebecec;
    border: 4px solid #000000;
    border-radius: 25px;
    /* top: 0;
    right: 0;
    left: 0; */
}