.lyTop {
    display: flex;
    flex-direction: column;
    align-items: center;  


    height: 150px;
    
    background-color: #CDD3CE;
    border: 3px solid #B118C8;
    border-radius: 25px;
    /* top: 0;
    right: 0;
    left: 0; */
}