/* Modal.css */

.cc {
    display: flex;
    justify-content: center;
    gap: 20px;

    
    width: calc(100% - 20px); /* Deja 10px de margen a cada lado */
    background-color: #00ffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    padding: 20px  0 ;
}

.ej {
    background-color: #fafafa; /* Color de fondo muy suave */
    border: 1px solid #ddd; /* Borde sutil para destacar sin ser llamativo */
    border-radius: 8px; /* Bordes ligeramente redondeados */
    padding: 15px; /* Espaciado interno cómodo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna y clara */
    font-size: 16px; /* Tamaño de fuente cómodo */
    color: #333; /* Color del texto que ofrece buen contraste */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra muy ligera para profundidad */
}

