html {
    font-family: "roboto light"
}


/* styles.css */
.button {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s, transform 0.2s; /* Efecto de transición */
  text-align: center; /* Alinea el texto al centro */
  display: inline-block; /* Hace que el botón se comporte como un bloque en línea */
}

.button:hover {
  background-color: #45a049; /* Color de fondo cuando el usuario pasa el cursor por encima */
  transform: translateY(-2px); /* Efecto de elevación sutil */
}

.button:active {
  background-color: #3e8e41; /* Color de fondo al hacer clic */
  transform: translateY(0); /* Restablece la posición después del clic */
}